body{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    padding: 50px;
}
a{
    text-decoration: none;
    color: black;
    transition: all .5s ease-in-out;
}
hr{
    display: block;
    border: 1px solid black;
}
h1,h2{
    font-family: Impact;
    font-weight: bold;
    margin-bottom: 20px;
}
h2{
    font-size: 15pt;
}
header, #navigation-menu, #content{
    position: relative;
}
h1{
    color: orange;
    font-style: italic;
}
nav ul, nav li{
    list-style: none;
}
#navigation-menu{

    position: fixed;
    top: 90;
    left: auto;
    z-index: 100;
    
    
}
#navigation-menu ul{
    background:   orange;
    border-radius: 5px;
    overflow: hidden;
   
}
#navigation-menu li{
    margin: 3px;
    display: inline-block;
}
#navigation-menu a{
    border-radius: 5px;
}
#navigation-menu a:hover,#navigation-menu a.mPS2id-highlight{
    background: #ffffff;
    color: black;
}
#conteudo section{
    min-height: 600px;
    background: #ffff;
    padding: 20px;
}
.mPS2id-target .conteudo h1{
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-family: arial;
    
    
}
.auto-layout{
    width: 6200px;
    height: 6200px;
}
.auto-layout #conteudo{
    height: 100%;
}
.auto-layout #conteudo section{
    position: absolute;
    min-height: 600px;
    width: 600px;

}

#bloco1 .card{
 height: 400px;
 width: 400px;
font-size: 7pt;
text-align: center;
font-weight: bold;

}

#bloco1 .col1{
    font-size: 15pt;
    font-weight: bold;
    margin-left: 90px;
   
}

#bloco2 .card{
    height: 400px;
    width: 400px;
   font-size: 7pt;
   text-align: center;
   font-weight: bold;

   }
   
   #bloco2 .col2{
       font-size: 15pt;
       font-weight: bold;
       margin-left: 90px;
      
   }




